{% load staticfiles %}
<html>
<head>
    <title>My Django Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<img src="{% static 'images/bg.png' %}" class="bg">
<!-- Static navbar -->
{% include "blog/navbar.html" %}
<!-- End Static navbar -->

<!-- content -->
<div class="container">
    <h1><a href="/">My Django Blog</a></h1>
    <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
    <br />

    {% for post in posts %}
        <div class="jumbotron">

            <h1><a href="">{{ post.title }}</a></h1>
            <span class="post-info">published: <em>{{ post.published_date }}</em></span>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <!-- End of content -->
</div> <!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>